<!DOCTYPE html>
<html>
<head>
    <title>Alamat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dokter_spesialis">Dokter Spesialis</a></li>
            <li><a href="/alamat">Alamat</a></li>
            <li><a href="/contact_person">Contact Person</a></li>
        </ul>
    </nav>
    <center>
        <h2>Alamat Rumah Sakit Kami</h2>
        <br>
        <p>Jl. Raya Jatiwaringin No.18, RT.009/RW.005, Jaticempaka,<br> Kec. Pd. Gede, Kota Bks, Jawa Barat 17411</p>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.000274710942!2d106.90800107380034!3d-6.263692361319395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f32af6703c71%3A0xf89cd7f58da5243f!2sUniversitas%20Bina%20Sarana%20Informatika%20Kampus%20Jatiwaringin!5e0!3m2!1sid!2sid!4v1703923106286!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </center>
</body>
</html>
