<!DOCTYPE html>
<html>
<head>
    <title>Contact Person</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dokter_spesialis">Dokter Spesialis</a></li>
            <li><a href="/alamat">Alamat</a></li>
            <li><a href="/contact_person">Contact Person</a></li>
        </ul>
    </nav>
    <h2>Hubungi Kami</h2>
    <form class="bg_cp">
        <center>
            <p>Telp atau Wa kami untuk konsultasi lebih lanjut</p>
            <h3>0812 3456 7890 1234</h3>
        </center>
    </form>
</body>
</html>
