<!DOCTYPE html>
<html>
<head>
    <title>Dokter Spesialis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dokter_spesialis">Dokter Spesialis</a></li>
            <li><a href="/alamat">Alamat</a></li>
            <li><a href="/contact_person">Contact Person</a></li>
        </ul>
    </nav>
    <h2>Dokter Spesialis</h2>
    <p>Ini adalah halaman untuk informasi dokter spesialis.</p>
</body>
</html>
